
#menu-wrapper{
    position: relative;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu ul {
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
}

.main-menu ul li{
    /**/
}

.main-menu li a {
    color: white;
}

.main-menu li:nth-child(1){
    background: #00bcd4;
}

.main-menu li:nth-child(2){
    background: #3d5afe;
}

.main-menu li:nth-child(3){
    background: #00bcd4;
}

.main-menu li:nth-child(4){
    background: #00bcd4;
}