<div id="contact" class="section get-help">
    <div class="container">
        <h2>Contact Me</h2>
        <form action="#" method="post">
            <div class="row">
                <div class="six columns">
                    <label for="exampleEmailInput">Your email</label>
                    <input class="u-full-width" type="email" placeholder="example@domain.com" id="exampleEmailInput">
                </div>
                <div class="six columns">
                    <label for="exampleRecipientInput">Reason for contacting</label>
                    <input type="text" class="u-full-width" id="exampleRecipientInput" placeholder="Subject">
                </div>
            </div>
            <label for="exampleMessage">Message</label>
            <textarea class="u-full-width" placeholder="Howdy Fernando" id="exampleMessage"></textarea>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>
</div>